<table>
    <thead>
        <tr>
            <th>Thread ID</th>
            <th>Question</th>
            <th>Answer</th>
            <th>Status</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let article of articles">
            <td>{{ article.thread_id }}</td>
            <td>{{ article.question }}</td>
            <td>{{ article.answer }}</td>
            <td>
                <span class="status-circle"
                    [ngClass]="{ confirmed: article.confirmed, notConfirmed: !article.confirmed }"></span>
            </td>
            <td>
                <button (click)="confirmArticle(article.thread_id)">Confirm</button>
                <button (click)="deleteArticle(article.thread_id)">Delete</button>
            </td>
        </tr>
    </tbody>
</table>